<p>home works!</p>
<div *ngIf="turn" class="text-primary"><h1>Turn is: {{turn}}</h1></div>
<div class="container col-md-11 m-5" *ngIf="board">

    <div class="d-inline-block col-md-3 bg-primary" style="width: 18.499999995%" *ngFor='let card of board'>
        <!-- card:{color:red, word: cardword, selected:false} -->

        <div (click)="chooseCard(card.word)" class="pb-5  pt-5 mb-2 mt-5 pl-5 text-muted" [ngStyle]="{'background-color':card.color}">{{card.word}}
            <p *ngIf="card.selected===true; else elseBlock">Card has been selected</p>
            
            <ng-template #elseBlock><p></p>Card has NOT been selected</ng-template>
        </div>
   


    </div>


</div>